#resume {
    font-family: "Times New Roman", Times, serif;
    width: 75%;
}
.job-title {
    font-style: italic;
}
.date-range {
    font-weight: bold;
}
.employer {
    text-decoration: underline;
}
.contact-blurb {
    margin: auto;
}
.job-summary {
    text-align: justify;
}
#introduction {
    text-align: justify;
}
.page-footer {
    margin: auto;
}
